version: '3'
services:
  anime-kr-gateway:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./route-api.conf:/etc/nginx/conf.d/route-api.conf
#      - /etc/letsencrypt:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
      - "3000:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"